black
click
cmake
fbgemm-gpu>=1.4.0
hypothesis==6.70.1
importlib-metadata
iopath
numpy
pandas
pyre-extensions
scikit-build
tensordict
torchmetrics==1.0.3
torchx
tqdm
triton
usort
parameterized
PyYAML
psutil
expecttest>=0.3.0
